* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;



}


body {
    background: #fff;
    color: #fff;
    min-width: 234px;
}
nav{
    position: sticky;
        top: 0;
        z-index: 99;
}
.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to right, #ffeeee, #fff);
    box-shadow: 0 0 15px #00000030;
    padding: 15px;
    margin:auto;
    border-radius: 5px;

}
.effect-ive{
    
   
    padding: 30px;
    border-radius: 5px;
    margin-bottom:30px ;
}
.effect-ive:nth-child(1){
    background: #ff005510;
    border: 1px solid #ff005550;
}
.effect-ive:nth-child(2){
    background: #b700ff10;
    border: 1px solid #b700ff50;
}
.effect-ive:nth-child(3){
    background: #73ff0010;
    border: 1px solid #73ff0050;
}
.default{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background: #ff880010;
    border: 1px solid #ff880050;
}
.effect-ive p{
    color: #353535;
    padding: 10px 0;
}
.see-all a{
    color: #5a5186;
    background: #5a518610;
    border: 1px solid #5a5186;
    padding: 10px;
    border-radius: 5px;
    transition: .3s ease all;
    text-decoration: none;
    font-size: 14px;
}
.see-all{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}
.see-all a:hover{
    color: #fff;
    background: #5a5186;
    border: 1px solid #5a5186;
    padding: 10px;
    border-radius: 5px;
}
.hr{
    height: 30px;
    width: 100%;
}
.nav-menu-header {
    display: none;
}

i {
    margin-right: 8px;
}


.sticky-container{
    position: sticky;
    top: 100px !important;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    background: #fff;
    border: 1px solid #ff0055;
    margin:0 5px;
    font-size: 15px;
    color: #ff0055;
    font-weight: 600;
    z-index: 1;
    transition: .3s opacity;
}

.nav-link.active{
    background: #ff0055;
    border: 1px solid #ff0055;
    color: #fff;
}

.nav-link:hover .link-numbers {
    color: #fff !important;
}

.nav-link-settings {
    display: flex !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}

.nav-links {

    align-items: center;
    gap: 10px;
}

.nav-links-effect-container {
    position: relative;
    display: flex;
    align-items: center;
}

.dot-link-effect {
    position: absolute;
    left: 10%;
    bottom: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff0055;
    background: #ffcef3;
    transition: .8s cubic-bezier(0.18, 0.89, 0.34, 1.10) all;
    z-index: 0;
    animation: dot-eff ease 5s 1s infinite;
}

@keyframes dot-eff {
    0% {
        box-shadow: 0 0 10px #ff0055;
    }

    50% {
        box-shadow: 0 0 25px #ff0055;
    }

    100% {
        box-shadow: 0 0 10px #ff0055;
    }
}

.active0 {
    left: 10%;
}

.active1 {
    left: 30%;
}

.active2 {
    left: 50%;
}

.active3 {
    left: 70%;
}

.active4 {
    left: 90%;
}





/* text-opactity */

#nth a:nth-child(n):hover~.dot-link-effect {
    transform: scale(1.20);
    box-shadow: 0 0 20px #ff0055;
}

#nth a:nth-child(1):hover~.dot-link-effect {
    left: 10%;
}

#nth a:nth-child(2):hover~.dot-link-effect {
    left: 30%;
}

#nth a:nth-child(3):hover~.dot-link-effect {
    left: 50%;
}

#nth a:nth-child(4):hover~.dot-link-effect {
    left: 70%;
}

#nth a:nth-child(5):hover~.dot-link-effect {
    left: 90%;
}


.link-numbers {
    display: none;
    font-size: 15px;
    font-family: consolas;
    text-align: right;
    color: #fff;
    opacity: .50;
    transition: .3s;
}

.slash {
    letter-spacing: 4px;
}

.nav-title {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.link-anim-set {
    position: relative;
    top: 0;
    overflow: hidden;
}
#nth a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
}
.link-anim-set-p {
    
    position: relative;
    top: 0;
    transform-origin: bottom left;
}
.social i{
    position: relative !important;
    left: 5px !important;
}

.p1 {
    animation: link-anim ease-in-out .6s 1;
}

.p2 {
    animation: link-anim ease-in-out .8s 1;
}

.p3 {
    animation: link-anim ease-in-out 1s 1;
}

.p4 {
    animation: link-anim ease-in-out 1.2s 1;
}

.p5 {
    animation: link-anim ease-in-out 1.3s 1;
}


@keyframes link-anim {
    0% {
        transform: scale(.5);

        top: 100px;
        opacity: 0;
    }

    33% {

        opacity: 0.50;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

.download-cv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    width: 165px;
    height: 50px;
    background: #ffffff20;
    color: #fff;
    border: 2px dotted #5a5186;
    border-radius: 70px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: .4s ease transform;
}

.download-cv:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00000080;
    border: 2px solid #5a5186;
}

.download-cv:active {
    transform: scale(0.90);
    box-shadow: 0 0 15px #00000080;
    border: 2px solid #5a5186;
}



.spinner-anim {
    position: relative;
    top: 0;
    animation: transformspin 1s ease;
}

@keyframes transformspin {
    0% {
        top: 100px;
    }

    100% {
        top: 0;
    }
}

.spinner {
    animation: rotate 1s linear infinite;
    z-index: 2;
    width: 27px;
    height: 27px;
}

.spinner .path {
    stroke: #ffffff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.download-cv i {
    font-size: 19px;
}

.download-cv::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 150px;
    width: 100%;
    height: 100%;
    transform: rotate(-320deg);
    background: #5a5186;
    z-index: -1;
}

.download-cv:hover::before {
    animation: flashEffect 1s ease 3;
}

@keyframes flashEffect {
    0% {
        left: -150px;
    }

    100% {
        left: 150px;
    }
}

.download-text {
    position: relative;
    top: 0;
    transition: .6s;
    animation: downloadText ease .7s;
}

@keyframes downloadText {
    from {
        opacity: 0;
        top: 100px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}


.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    border-radius: 5px;

}

.profile-img img {
    width: 100%;
    border-radius: 5px;
}

.type-bar,
.job-bar {
    position: relative;
    font-size: 18px;
    margin-right: 3px;
}

.typewriting {
    display: flex;
    align-items: center;
    margin: 5px 0 0;
}

.job-bar::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    height: 100%;
    width: 2px;
    background: #fff;
    animation: blink 0.7s ease infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-btn {
    display: none;
}

/* responsive tablet navbar start */
@media only screen and (max-width: 1300px) {
    .section-home{
        flex-direction: column;
    }
    .card{
        width: 50% !important;
        padding: 10px;
    }
    .left-side{
        width: 100% !important;
    }
    .container{
        padding: 10px !important;
    }
    .right-side{
        width: 100% !important;
    }
    .nav-container {
        position: sticky;
        top: 0;
        width: 100%;
        margin: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .menu-btn{
        color: #353535 !important;
    }
    .left-side{
        border-right: none !important;
    }
    

}

@media only screen and (max-width: 1150px) {

    .nav-container {
        width: 100%;
        margin: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .name-bar {
        font-size: 22px;
    }

    .job-bar {
        font-size: 16px;
    }

    .menu-btn {
        display: flex;
        background: transparent;
        outline: 0;
        border: 0;
        margin-right: 10px;
        color: #353535;
        font-size: 24px;
        cursor: pointer;
    }

    .slash {
        display: none;
    }

    .nav-menu-header {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 0;
        font-size: 18px;
       
        border-radius: 5px;
        
       
        width: 100%;
    }

    .nav-menu-header>.name-bar {
        font-size: 18px;
    }

    .nav-menu-header>.name-bar>span {
        font-size: 16px;
    }




    .nav-links {
        display: none !important;
        position: fixed;
        top: 0;
        left: -400px;
        background: linear-gradient(to right, #ffcef3, #fff);
        opacity: 0;
        transform: scale(0.50) !important;
        transform-origin: top left;
       
        flex-direction: column;
        width: 350px;
        height: 100%;
        overflow: auto;
        box-shadow: 0 0 25px #00000030;
        overflow-x: hidden;
        align-items: flex-start;
        padding: 20px;
        transition: .5s all;
        opacity: 0.50 !important;
        z-index: 9999;
    }

    .active-nav {
        position: fixed;
        display: flex !important;
    }

    .anim-navs {
        transform: scale(1) !important;
        opacity: 1 !important;
        top: 0;
        left: 0px;
    }


    .nav-link {

        text-align: left;
        width: 300px;
        padding: 20px 10px;
        margin: 10px 0;
        border-radius: 5px 0 0 5px;
        background: linear-gradient(320deg, #fff 20%, #fff 50%);
    }

    .nav-links-effect-container {
        flex-direction: column;
        text-align: left;
    }

    .link-numbers {
        display: none;
    }

    .dot-link-effect {
        display: none;
    }
}
.timeline-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.flex-direction{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 640px) {
    .flex-direction{
        display: flex;
        flex-direction: row;
    }
    .swiper{
        width: 90% !important;
    }
    .card{
        width: 100% !important;
        padding: 10px;
    }
    .swiper{
        height: 300px !important;
    }
    iframe{
        height: 100% !important;
    }
.swiper-slide{
    height: 300px !important;
}
.swiper-slide img {
        display: block;
        width: 100%;
        height: 300px !important;
        border-radius: 5px;
        object-fit: cover;
    }

    .nav-container {
        padding: 10px;

    }
    .effect-ive p{
        font-size: 13px;
    }
    .effect-ive{
        padding: 10px;
    }
    .right-side{
        padding: 5px !important;
    }

}

@media only screen and (max-width:455px) {
    .nav-links {
        width: 300px;

    }

    .nav-link {
        width: 260px;
    }
}

@media only screen and (max-width: 411px) {

    .nav-link {
        width: 250px;
    }

    .nav-links {
        width: 300px;
    }

    .nav-menu-header {
        padding: 0;

    }




    .nav-menu-header>.name-bar {
        font-size: 16px;
        padding: 13px;
    }

    .nav-menu-header>.name-bar>span {
        font-size: 13px;
    }

    .nav-link {
        font-size: 16px;
        padding: 15px;
    }

    

    .nav-container {
        padding: 10px;

    }

    .name-bar {
        font-size: 16px;
    }

    .job-bar,
    .type-bar {
        font-size: 14px;
    }

    .menu-btn {
        font-size: 18px;
    }

}

@media only screen and (max-width:340px) {

    .nav-menu-header {
        padding: 10px 0 0;
        flex-direction: column;
        text-align: center;
    }

    .nav-links {

        width: 250px;

    }

    .download-cv {
        font-size: 13px;
        height: 50px;
        width: 150px;
    }

    .nav-link {
        width: 200px;
    }
}

@media only screen and (max-width: 300px) {

    

    .nav-container {
        padding: 10px;

    }

    .name-bar {
        font-size: 14px;
    }

    .job-bar,
    .type-bar {
        font-size: 12px;
    }

    .menu-btn {
        font-size: 16px;
    }

    .nav-links {
        padding: 5px;
        width: 200px;
    }

    .nav-link {
        font-size: 14px;
        padding: 10px;
        width: 150px;
    }

    .download-cv {
        height: 40px;
    }
}

/* responsive tablet navbar end */


.container {
    
    padding: 50px;
    margin: auto;
}

header {
    background: transparent;
}

section {
    background: transparent;
}

.section-home{
    display: flex;
    border-radius: 5px;
    
    border: 2px solid #ff005530;
    box-shadow: 0 0 15px #00000020;
}
.left-side{
   
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px;
    border-right: 3px dotted #ff005530;
    width: 30%;
    color: #353535;
    background: linear-gradient(to bottom, #ff005500, transparent);
}

.left-side img{
    position: sticky;
        top: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px #00000020;
}
.img-content-left-side{
    margin-top: 30px;
   
}
iframe{
    border-radius: 5px;
    background: #ccc;
}
.right-side{
    padding: 20px;
    width: 70%;
    background: #00000005;
}

.header-section{
    display: flex;
    padding:0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #353535;
    width: 100%;
    
    
}
.header-text{
background: #fff;
color: #ff0055;
padding: 5px 10px;
border: 1px solid #ff0055;
border-radius: 5px;
width: auto;
}
.swiper-button-prev,.swiper-button-next {
    color: #ff0055 !important;
    size: 12px !important;
}
.swiper-button-prev:after,
 .swiper-button-next:after {
   --swiper-navigation-size: 30px;
 }

.left-side p{
   color: #3d3d3d; 
   margin-bottom: 20px;
}
.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 5px !important;
    box-shadow: 0 0 15px #00000020;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}
.effect-ives{
    position: relative;
}
.flex-align-button{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}
.effect-overflow{
    position: relative;
}
.swiper-button-next{
    position: absolute !important;
    right: -3% !important;
}
.swiper-button-prev{
    position: absolute !important;
    left: -3% !important;
}



.frame-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000010;
    border-radius: 5px;
    flex-wrap: wrap;
}
.card{
    width: 33.3%;
    padding: 10px;
}
.card img{
    width: 100%;
    height: 100%;
}
.card-p{
    padding: 10px 0;
}
.card-h{
    padding: 10px;
    height: 300px;
    background: #5a518657;
    transition: .3s ease all;
    border-radius: 5px;
}
.card-h:hover{
    background: #5a51868e;
}

@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
#timeline .timeline-item:after, header:after, #timeline .timeline-item:before, header:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1, h2, h3, h4 {
    
    font-weight: 500;
  }
  
  .project-name {
    text-align: center;
    padding: 10px 0;
  }
  
  header {
    background: #2b2e48;
    padding: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  }
  header .logo {
    color: #ee4d4d;
    float: left;
    font-family: "Dosis", arial, tahoma, verdana;
    font-size: 22px;
    font-weight: 500;
  }
  header .logo > span {
    color: #f7aaaa;
    font-weight: 300;
  }
  header .social {
    float: right;
  }
  header .social .btn {
    font-family: "Dosis";
    font-size: 14px;
    margin: 10px 5px;
  }
  .time-line-scroll{
    max-height: 700px;
    overflow: auto;
  }
  #timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 ;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
  }
  #timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ee4d4d;
    left: 50%;
    top: 0;
    position: absolute;
  }
  #timeline h2{
    font-size: 16px;
  }
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }
  #timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
  }
  #timeline .timeline-item .timeline-icon {
    background: #ee4d4d;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  #timeline .timeline-item .timeline-icon svg {
    position: relative;
    top: 14px;
    left: 14px;
  }
  #timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 15px;
    font-size: 14px;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #timeline .timeline-item .timeline-content h2 {
    padding: 15px;
    background: #ee4d4d;
    color: #fff;
    margin: -15px -15px 0 -15px;
    font-weight: 300;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
  }
  #timeline .timeline-item .timeline-content:before {
    content: "";
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-content.right {
    float: right;
  }
  #timeline .timeline-item .timeline-content.right:before {
    content: "";
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  
  .btn {
    padding: 5px 15px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #f27c7c;
    color: #f27c7c;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-box-shadow: 2px 2px 0 #f27c7c;
    -moz-box-shadow: 2px 2px 0 #f27c7c;
    -ms-box-shadow: 2px 2px 0 #f27c7c;
    box-shadow: 2px 2px 0 #f27c7c;
  }
  .btn:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 2px 2px 0 transparent;
    -moz-box-shadow: 2px 2px 0 transparent;
    -ms-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;
  }
  
  @media screen and (max-width: 768px) {
    #timeline {
      margin: 30px;
      padding: 0px;
      width: 90%;
    }
    #timeline:before {
      left: 0;
    }
    #timeline .timeline-item .timeline-content {
      width: 90%;
      float: right;
    }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
      left: 10%;
      margin-left: -6px;
      border-left: 0;
      border-right: 7px solid #ee4d4d;
    }
    #timeline .timeline-item .timeline-icon {
      left: 0;
    }
  }


  .swiper-slide img{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;

}